img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}

#innter-contain {
  margin: 0;
  padding: 0;
}

#conference {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#division {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
